@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #171717;

  --background: #ffffff;
  --foreground: var(--black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);
}

body * {
  font-family: "SUIT-Medium";
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.fadedtext {
  @apply text-gray-400
}

.dark .fadedtext {
  @apply text-gray-500
}

.redbutton {
  @apply cursor-pointer text-red-600 dark:text-red-400 hover:text-red-800 hover:dark:text-red-300
}

.text-normal {
  @apply text-[#000000]
}

.dark .text-normal {
  @apply text-[#ffffff]
}

.bgc-normal {
  @apply bg-radial to-[#dddddd] via-[#dddddd]/30 from-transparent border-1 border-[#dddddd] bg-[#333333]
}

.dark .bgc-normal {
  @apply bg-radial to-[#555555] via-[#555555]/30 from-transparent border-[#333333]
}

.bgc-normal-r {
  @apply bg-gradient-to-l from-[#dddddd]/50 to-transparent
}

.dark .bgc-normal-r {
  @apply bg-gradient-to-l from-[#333333]/35 to-transparent
}

.text-advanced {
  @apply text-[#4f8b00]
}

.dark .text-advanced {
  @apply text-[#8cf701]
}

.bgc-advanced {
  @apply bg-radial to-[#b1ff4b] via-[#b1ff4b]/30 from-transparent border-1 border-[#b1ff4b] bg-[#333333]
}

.dark .bgc-advanced {
  @apply bg-radial to-[#73c705] via-[#73c705]/30 from-transparent border-[#3c6900]
}

.bgc-advanced-r {
  @apply bg-gradient-to-l from-[#b1ff4b]/50 to-transparent
}

.dark .bgc-advanced-r {
  @apply bg-gradient-to-l from-[#3c6900]/35 to-transparent
}

.text-rare {
  @apply text-[#00b0fa]
}

.dark .text-rare {
  @apply text-[#00b0fa]
}

.bgc-rare {
  @apply bg-radial to-[#82d9ff] via-[#82d9ff]/30 from-transparent border-1 border-[#82d9ff] bg-[#333333]
}

.dark .bgc-rare {
  @apply bg-radial to-[#0072a3] via-[#0072a3]/30 from-transparent border-[#0072a3]
}

.bgc-rare-r {
  @apply bg-gradient-to-l from-[#82d9ff]/50 to-transparent
}

.dark .bgc-rare-r {
  @apply bg-gradient-to-l from-[#0072a3]/35 to-transparent
}

.text-hero {
  @apply text-[#ce43fc]
}

.dark .text-hero {
  @apply text-[#ce43fc]
}

.bgc-hero {
  @apply bg-radial to-[#da6aff] via-[#da6aff]/30 from-transparent border-1 border-[#da6aff] bg-[#333333]
}

.dark .bgc-hero {
  @apply bg-radial to-[#7c2997] via-[#7c2997]/30 from-transparent border-[#7c2997]
}

.bgc-hero-r {
  @apply bg-gradient-to-l from-[#da6aff]/50 to-transparent
}

.dark .bgc-hero-r {
  @apply bg-gradient-to-l from-[#7c2997]/35 to-transparent
}

.text-legend {
  @apply text-[#f99200]
}

.dark .text-legend {
  @apply text-[#f99200]
}

.bgc-legend {
  @apply bg-radial to-[#ffaf40] via-[#ffaf40]/30 from-transparent border-1 border-[#ffaf40] bg-[#333333]
}

.dark .bgc-legend {
  @apply bg-radial to-[#c27100] via-[#c27100]/30 from-transparent border-[#c27100]
}

.bgc-legend-r {
  @apply bg-gradient-to-l from-[#ffaf40]/50 to-transparent
}

.dark .bgc-legend-r {
  @apply bg-gradient-to-l from-[#c27100]/35 to-transparent
}

.text-relics {
  @apply text-[#fa5d00]
}

.dark .text-relics {
  @apply text-[#fa5d00]
}

.bgc-relics {
  @apply bg-radial to-[#ff8138] via-[#ff8138]/30 from-transparent border-1 border-[#ff8138] bg-[#333333]
}

.dark .bgc-relics {
  @apply bg-radial to-[#a83e00] via-[#a83e00]/30 from-transparent border-[#a83e00]
}

.bgc-relics-r {
  @apply bg-gradient-to-l from-[#ff8138]/50 to-transparent
}

.dark .bgc-relics-r {
  @apply bg-gradient-to-l from-[#a83e00]/35 to-transparent
}

.text-ancient {
  @apply text-[#98856b]
}

.dark .text-ancient {
  @apply text-[#e3c7a1]
}

.bgc-ancient {
  @apply bg-radial to-[#c2b098] via-[#c2b098]/30 from-transparent border-1 border-[#c2b098] bg-[#333333]
}

.dark .bgc-ancient {
  @apply bg-radial to-[#ac977a] via-[#ac977a]/30 from-transparent border-[#ac977a]
}

.bgc-ancient-r {
  @apply bg-gradient-to-l from-[#c2b098]/50 to-transparent
}

.dark .bgc-ancient-r {
  @apply bg-gradient-to-l from-[#ac977a]/35 to-transparent
}

.text-special {
  @apply text-[#00a6af]
}

.dark .text-special {
  @apply text-[#00e5ef]
}

.bgc-special {
  @apply bg-radial to-[#00e5ef] via-[#00e5ef]/30 from-transparent border-1 border-[#00e5ef] bg-[#333333]
}

.dark .bgc-special {
  @apply bg-radial to-[#00e5ef] via-[#00e5ef]/30 from-transparent border-[#00e5ef]
}

.bgc-special-r {
  @apply bg-gradient-to-l from-[#00e5ef]/50 to-transparent
}

.dark .bgc-special-r {
  @apply bg-gradient-to-l from-[#00e5ef]/35 to-transparent
}

.bgc-nothing {
  @apply bg-radial to-[#c4c4c4] via-[#e6e6e6] from-transparent border-1 border-[#c4c4c4]
}

.dark .bgc-nothing {
  @apply bg-radial to-[#2a2a2a] via-[#1a1a1a] from-transparent border-[#2a2a2a]
}

.adsbygoogle {
  display: block !important;
}