@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #171717;

  --background: #ffffff;
  --foreground: var(--black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);
}

body * {
  font-family: "SUIT-Medium";
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.fadedtext {
  @apply text-gray-500
}

.redbutton {
  @apply cursor-pointer text-red-600 dark:text-red-400 hover:text-red-800 hover:dark:text-red-300
}

.text-normal {
  @apply text-[#000000]
}

.dark .text-normal {
  @apply text-[#ffffff]
}

.text-advanced {
  @apply text-[#4f8b00]
}

.dark .text-advanced {
  @apply text-[#8cf701]
}

.text-rare {
  @apply text-[#00b0fa]
}

.dark .text-rare {
  @apply text-[#00b0fa]
}

.text-hero {
  @apply text-[#ce43fc]
}

.dark .text-hero {
  @apply text-[#ce43fc]
}

.text-legend {
  @apply text-[#f99200]
}

.dark .text-legend {
  @apply text-[#f99200]
}

.text-relics {
  @apply text-[#fa5d00]
}

.dark .text-relics {
  @apply text-[#fa5d00]
}

.text-ancient {
  @apply text-[#98856b]
}

.dark .text-ancient {
  @apply text-[#e3c7a1]
}