@import "tailwindcss";
@config "../../tailwind.config.js";

@font-face {
  font-family: 'SUIT-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

:root {
  --white: #ffffff;
  --black: #171717;

  --background: #ffffff;
  --foreground: var(--black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);
}

body * {
  font-family: "SUIT-Medium";
}

@keyframes fadeInUp {
  0% {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.scrollbar-none {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.scrollbar-none::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.fadedtext {
  @apply text-gray-500
}

.redbutton {
  @apply cursor-pointer text-red-600 dark:text-red-400 hover:text-red-800 hover:dark:text-red-300
}

.text-normal {
  @apply text-[#000000]
}

.dark .text-normal {
  @apply text-[#ffffff]
}

.bgc-normal {
  @apply bg-radial to-[#dddddd] via-[#eeeeee] from-transparent
}

.dark .bgc-normal {
  @apply bg-radial to-[#333333] via-[#222222] from-transparent
}

.text-advanced {
  @apply text-[#4f8b00]
}

.dark .text-advanced {
  @apply text-[#8cf701]
}

.bgc-advanced {
  @apply bg-radial to-[#b1ff4b] via-[#dfffb6] from-transparent
}

.dark .bgc-advanced {
  @apply bg-radial to-[#3c6900] via-[#243f00] from-transparent
}

.text-rare {
  @apply text-[#00b0fa]
}

.dark .text-rare {
  @apply text-[#00b0fa]
}

.bgc-rare {
  @apply bg-radial to-[#82d9ff] via-[#c0ebff] from-transparent
}

.dark .bgc-rare {
  @apply bg-radial to-[#0072a3] via-[#002c3f] from-transparent
}

.text-hero {
  @apply text-[#ce43fc]
}

.dark .text-hero {
  @apply text-[#ce43fc]
}

.bgc-hero {
  @apply bg-radial to-[#da6aff] via-[#eaaaff] from-transparent
}

.dark .bgc-hero {
  @apply bg-radial to-[#7c2997] via-[#3d134b] from-transparent
}

.text-legend {
  @apply text-[#f99200]
}

.dark .text-legend {
  @apply text-[#f99200]
}

.bgc-legend {
  @apply bg-radial to-[#ffaf40] via-[#ffd8a1] from-transparent
}

.dark .bgc-legend {
  @apply bg-radial to-[#c27100] via-[#5e3700] from-transparent
}

.text-relics {
  @apply text-[#fa5d00]
}

.dark .text-relics {
  @apply text-[#fa5d00]
}

.bgc-relics {
  @apply bg-radial to-[#ff8138] via-[#ffac7b] from-transparent
}

.dark .bgc-relics {
  @apply bg-radial to-[#a83e00] via-[#5c2200] from-transparent
}

.text-ancient {
  @apply text-[#98856b]
}

.dark .text-ancient {
  @apply text-[#e3c7a1]
}

.bgc-ancient {
  @apply bg-radial to-[#c2b098] via-[#e9dac5] from-transparent
}

.dark .bgc-ancient {
  @apply bg-radial to-[#ac977a] via-[#473f32] from-transparent
}

.text-special {
  @apply text-[#00a6af]
}

.dark .text-special {
  @apply text-[#00e5ef]
}

.bgc-special {
  @apply bg-radial to-[#00e5ef] via-[#cffdff] from-transparent
}

.dark .bgc-special {
  @apply bg-radial to-[#00e5ef] via-[#002a2c] from-transparent
}